	<div class="feed_data_area", id="dc_feed_area">	
		
        <div class="new_feed" id="daily_feed1">
          <h3><%=select_feed(0).title%></h3>
            <ul>
              <%select_feed(0).entries.each do |entry|%>
                <li>
                  <%if entry.url%>
                    <a href=<%=entry.url%>><%=entry.title%></a>
                  <%else%>
                    <span><%=entry.title%></span>
                  <%end%>
                </li>
              <%end%>
            </ul>
        </div>


        <div class="new_feed" id="daily_feed2">
          <h3><%=select_feed(1).title%></h3>
            <ul>
              <%select_feed(1).entries.each do |entry|%>
                <li>
                  <%if entry.url%>
                    <a href=<%=entry.url%>><%=entry.title%></a>
                  <%else%>
                    <span><%=entry.title%></span>
                  <%end%>
                </li>
              <%end%>
            </ul>
        </div>
        
        <div class="new_feed" id="daily_feed3">
          <h3><%=select_feed(2).title%></h3>
            <ul>
              <%select_feed(2).entries.each do |entry|%>
                <li>
                  <%if entry.url%>
                    <a href=<%=entry.url%>><%=entry.title%></a>
                  <%else%>
                    <span><%=entry.title%></span>
                  <%end%>
                </li>
              <%end%>
            </ul>
        </div>

    </div>