    <div class="rss_feed_list">

    <a href=<%=select_feed(19).entries.first.url%>>First Link</a>
        
      <div class="feed_origin" id="daily_main" id="feed1">
        <a href=<%=select_feed(0).url%>>Daily Climate</a>
      </div>

      <div class="feed_origin" id="unfccc" id="feed2">
        <a href=<%=select_feed(3).url%>>UNFCCC</a>
      </div>

      <div class="feed_origin" id="unep" id="feed3">
        <a href=<%=select_feed(9).url%>>UNEP</a>
      </div>

      <div class="feed_origin" id="nature" id="feed4">
        <a href=<%=select_feed(15).url%>>Nature.com</a>
      </div>

      <div class="feed_origin" id="skepsci" id="feed5">
        <a href=<%=select_feed(16).url%>>Skeptical Science</a>
      </div>

      <div class="feed_origin" id="yosemite" id="feed6">
        <a href=<%=select_feed(17).url%>>Yosemite</a>
      </div>

      <div class="feed_origin" id="nasa" id="feed7">
        <a href=<%=select_feed(18).url%>>Nasa</a>
      </div>

      <div class="feed_origin" id="yale" id="feed8">
        <a href=<%=select_feed(19).url%>>Yale</a>
      </div>

      <div class="feed_origin" id="cakex" id="feed9">
        <a href=<%=select_feed(20).url%>>CakeX</a>
      </div>

      <div class="feed_origin" id="iea" id="feed10">
        <a href=<%=select_feed(21).url%>>IEA</a>
      </div>

      <div class="feed_origin" id="umces" id="feed11">
        <a href=<%=select_feed(22).url%>>UMCES</a>
      </div>

      <div class="feed_origin" id="sierraclub" id="feed12">
        <a href=<%=select_feed(23).url%>>Sierra Club</a>
      </div>

      <div class="feed_origin" id="tcktcktck" id="feed13">
        <a href=<%=select_feed(24).url%>>TckTckTck</a>
      </div>

    </div>